.footer {
    background-color: #ede5da;
}
.footer__container {
    display: flex;
    flex-direction: column;
    padding: 93px 10px 72px 10px;
    gap: 65px;
}
.footer__up-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 500px) {
        justify-content: center;
        text-align: center;
    }
}
.footer__up-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 30.333%;
    gap: 10px;
    min-width: 200px;
    @media (max-width: 500px) {
        flex: 1 1 100%;
    }
}
.footer__up-item-title {
    @include adaptiveValue(font-size, 30, 20);
    font-weight: 700;
    color: #3157ad;
    margin-bottom: 18px;
}
.footer__up-item-link {
    @include adaptiveValue(font-size, 14, 12);
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #3157ad;
}
.footer__input {
    padding: 15px;
    border: 2px solid #3157ad;
    border-radius: 8px;
    background-color: transparent;
    font-family: Karla;
    font-size: 14.3px;
    line-height: 1.2;
    font-weight: 400;
    color: #3157ad;
    &::-webkit-input-placeholder {
        /* WebKit browsers */
        font-family: Karla;
        font-size: 14.3px;
        line-height: 1.2;
        font-weight: 400;
        color: #3157ad;
    }
    margin-bottom: 17px;
}
.footer__submit {
    align-self: flex-start;
    font-family: Karla;
    font-size: 19.2px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #ede5da;
    @media (max-width: 500px) {
        align-self: center;
    }
}
.footer__down-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    @media (max-width: 500px) {
        justify-content: center;
        text-align: center;
    }
}
.footer__down-link {
    font-family: Karla;
    font-size: 19.2px;
    line-height: 25px;
    font-weight: 700;
    color: #3157ad;
}
.footer__down-social-box {
    display: flex;
    gap: 14px;
}
.footer__down-social-item {
}
