.making {
    background: url("../img/making/making__bg.png") 0 0 / cover no-repeat;
}
.making__container {
    padding: in(1440, 187) 10px in(1440, 280) 10px;
}
.making__wrap {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    align-items: center;
}
.making__title {
    margin-bottom: 35px;
}
.title_blue {
    color: #3157ad;
}
.making__content-box {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    margin-bottom: 30px;
}
.making__item {
    flex: 0 1 30.333%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    text-align: center;
    min-width: 150px;
    @media (max-width: 500px) {
        min-width: auto;
        flex: 1 1 100%;
    }
}
.making__item-img {
    width: 50px;
    height: 50px;
}
.making__item-text {
    font-size: 14.3px;
    line-height: 1.2;
    font-weight: 700;
    color: #000000;
}
.making__btn {
}
