//импорты
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import "reset";

body {
    font-family: Karla;
    height: 100vh;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3157ad;
    border-radius: 8px;
    padding: 12px 19px;
    @include adaptiveValue(font-size, 19, 15);
    line-height: 25px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #ede5da;
    transition: 0.3s;
    min-width: 161px;
    &:hover {
        transition: 0.3s;
        box-shadow: 1px 1px 1px black;
    }
}
.btn_white {
    background-color: #ede5da;
    opacity: 0.9;
    color: #3157ad;
}
.title {
    @include adaptiveValue(font-size, 66.5, 35);
    line-height: 66px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #000000;
}
@import "./blocks/footer";
@import "./blocks/header";
@import "./blocks/burgerMenu";
@import "./blocks/main";
@import "./blocks/service";
@import "./blocks/making";
@import "./blocks/topics";
@import "./blocks/classes";
@import "./blocks/decisions";
@import "./blocks/reviews";
@import "./blocks/trial";
@import "./blocks/popup";
@import "./blocks/form";
